<ion-header kind="light"><img src="images/hk_logo_lg.png" height=40 ></ion-header>
<div class="bar bar-header">
  <button class="button button-icon icon ion-android-menu"></button>
  <h1 class="title">
    <img src="images/hk_logo_lg.png" height=40 >
  </h1>
  <button class="button button-icon icon ion-ios-cart-outline"></button>
</div>
<ion-content header=true>
  {{outlet}}
</ion-content>
